@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  /* --color-primary: #6495ED; */
  /* --color-primary: #FFCB74; */
  --color-primary: #B89A5E;
  --color-black: #252525;
  --color-gray: #959595;
  --color-lightgray: #D0D0D0;
  --color-sesalt: #F6F6F6;

  /* thin-100, extralight-200, light-300, regular-400, medium-500, semibold-700, bold-700 */
  --font: 'Roboto Serif', serif;
  font-family: var(--font);
}
.scroll-tracker{
  position: fixed;
  inset: auto 0 0 0;
  height: 0.5rem;
  background-color: var(--color-primary);
  transform-origin: left;
}
/* +=+=+=+=+=+= NAVBAR  start +=+=+=+=+=+= */
.navbar-toggler{
  border-radius: 2px;
}
.nav-link{
  color: var(--color-black) !important;
}
.activePage{
  color: var(--color-primary) !important;
}
/* +=+=+=+=+=+= NAVBAR  end   +=+=+=+=+=+= */
/* --------------------------------------- */
/* +=+=+=+=+=+= FOOTER  start +=+=+=+=+=+= */
footer{
  background-color: var(--color-black);
  color: var(--color-sesalt);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .contact .contact-name{
  text-align: center;
  padding: 40px 0px;
  margin: 0px;
}
footer .contact .sendContactBtn{
  background-color: var(--color-primary);
  border-color: var(--color-sesalt);
  width: 100px;
}
footer .contact .sendContactBtn:hover{
  background-color: var(--color-lightgray);
  color: var(--color-black);
  border-color: var(--color-sesalt);
}
.form-control{
  border-radius: 2px;
}
footer .moreInfo{
  text-align: center;
  padding: 35px 0px;
}
footer .moreInfo .socialmedia-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .moreInfo .socialmedia-list li .socialmedia-link{
  text-decoration: none;
  color: var(--color-sesalt);
}
footer .moreInfo .socialmedia-list li .socialmedia-link:hover{
  text-decoration: underline;
  color: var(--color-primary);
}
footer .moreInfo .copyright-legend{
  margin-top: 30px;
  font-weight: 200;
  font-size: 0.7rem;
}
/* +=+=+=+=+=+=  FOOTER  end  +=+=+=+=+=+= */
/* --------------------------------------- */


.rs{
  height: 500px;
  background-color: var(--color-lightgray);
  border: 1px black solid;
  margin-bottom: 15px;
}
/* ############################################################## MEDIA QUERY - 960px - ##############################################################*/
@media (min-width: 700px) {
  /* +=+=+=+=+=+= FOOTER  start +=+=+=+=+=+= */

footer .contact{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .contact .contact-name{
  width: 40%;
}
footer .contact .form{
  max-width: 540px;
}
footer .contact .form .sendContactBtn{
  width: 150px;
}
footer .moreInfo{
  padding: 50px 0px;
}
footer .moreInfo .socialmedia-list li .socialmedia-link{
  font-size: 1.3rem;
}
/* +=+=+=+=+=+=  FOOTER  end  +=+=+=+=+=+= */
}
