@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;


  --color-one: #B89A5E;
  --color-two: #B89A5E;
  --color-tree: #B89A5E;
  --color-four: #B89A5E;
  --color-five: #B89A5E;


  /* thin-100, extralight-200, light-300, regular-400, medium-500, semibold-700, bold-700 */
  --font: 'Roboto Serif', serif;
  font-family: var(--font);
  scroll-behavior: smooth;
}
.scroll-tracker{
  position: fixed;
  inset: auto 0 0 0;
  height: 0.5rem;
  background-color: var(--color-primary);
  transform-origin: left;
}
/* +=+=+=+=+=+= NAVBAR  start +=+=+=+=+=+= */
/* ############################################################## MEDIA QUERY - 960px - ##############################################################*/
@media (min-width: 700px) {
  /* +=+=+=+=+=+= FOOTER  start +=+=+=+=+=+= */

/* +=+=+=+=+=+=  FOOTER  end  +=+=+=+=+=+= */
}
